/ Warming Up
%link{:href => "http://fonts.googleapis.com/css?family=Buenard:700", :rel => "stylesheet", :type => "text/css"}
  %script{:src => "http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"}
  / Video Section
  %section.content-section.video-section
    .pattern-overlay
      %a#bgndVideo.player{"data-property" => "{videoURL:'https://www.youtube.com/watch?v=fdJc1_IBKJA',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}"} bg
      .container
        .row
          .col-lg-12
            %h1 Full Width Video
            %h3 Enjoy Adding Full Screen Videos to your Page Sections
  / Video Section Ends Here